<template>
  <div>
    <!-- content header -->
    <div class="content-heading">
        <div class="left floated content_title">
            <h3>
                <i class="dashboard icon"></i>
                DashBoard
            </h3>
        </div>
    </div><!-- /content header -->
  
    <div class="content">
      <div class="graph">
        <chart></chart>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from '@/chart/Chart'
export default {
  data () {
    return {
      secret: ''
    }
  },
  components: {
    Chart
  }
}
</script>
<style scoped>
  .graph{}
</style>

