<template>
    <modal name="createRole" :pivotY=0.15 height="auto">
        <div class="ui stacked segment">
            <h4 class="ui header">
              <i class="clone icon"></i>
              <div class="content">
                Role
                <div class="sub heade"><em>Create Role</em></div>
              </div>
            </h4>

            <form class="ui form">
                <div class="field"
                    :class="{'input': true, 'error': errors.has('Name') }">
                    <label>Name</label>
                    <input type="text" v-model="role.name"
                        placeholder="Role Name" 
                        name="Name"
                        v-validate="'required'">
                        <span
                            v-if="errors.has('Name')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('Name') }}
                        </span>
                </div>
                <div class="ui clearing divider"></div>
                <div class="actions">
                    <div @click="DepartmentSubmit"
                    class="ui positive right labeled icon button">Yep
                        <i class="checkmark icon"></i>
                    </div>
                    <div class="ui red right labeled icon button">Clear 
                        <i class="erase icon"></i>
                    </div>
                </div>
            </form>
        </div>
    </modal>
</template>
<script>
import api from '@/api/index'
export default {
  data () {
    return {
      role: {
        name: ''
      }
    }
  },
  methods: {
    DepartmentSubmit () {
      this.$validator.validateAll().then(() => {
        api.request('post', '/api/HRM/branches', this.role)
        .then((response) => {
          this.$notify({
            title: 'Important Note',
            text: 'Successfully Store ' + response.data.data.role.name + 'Branch',
            type: 'success'
          })
          console.log(response)
          this.$router.push('/settings')
        }).catch(function (error) {
          console.log(error)
        })
      }).catch(() => {
        this.$notify({
          title: 'Fill Form',
          text: 'Please! Fill all color form!',
          type: 'warn'
        })
      })
    }
  }
}
</script>
<style>
    .sub.heade {
        font-size: .8em;
        color: rgba(0,0,0,.6);
    }
</style>
