<template>
    <div class="top_menu">

        <!-- left floated  -->
        <div class="top_main_menu ui horizontal list left floated">

            <div class="item">
                <router-link to="/">
                    <div class="ui center aligned header">
                        <i class="home icon myicon"></i>
                    </div>Home
                </router-link>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="building outline icon"></i></div>Third Party</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="spy icon"></i></div>HRM</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="shopping basket icon"></i></div>Product & Services</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="calculator icon"></i></div>Financial</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="industry icon"></i></div>Commercial</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="database icon"></i></div>Projects</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="legal icon"></i></div>Tools</a>
            </div>

            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="money icon"></i></div>Cash/Bank</a>
            </div>
            
            <div class="item">
                <a href=""><div class="ui center aligned header"><i class="file text outline icon"></i></div>Agenda</a>
            </div>


        </div><!-- /left floated  -->


        <!-- right floated -->
        <div class="right floated icon-menu">
            <button type="button" @click="toggleClass" class="notification-icon"><i class="alarm icon"></i></button>
        </div><!-- / right floated -->


    </div> <!--/ End Top Menu -->


</template>

<script>
  export default {
    data () {
      return {
        clickValue: false
      }
    },
    methods: {
      toggleClass () {
        this.clickValue = !this.clickValue
        this.$emit('rightbarToggle', this.clickValue)
      }
    }
  }
</script>

<style scoped>
.top_menu{
    background-color:#55688a;
    color:#fff;
    height:70px;
    display: inline-block;
    width: 100%;
    padding-left: 1em;
}
.ui.header .icon:only-child{
    margin-right: -0.25rem;
}
.top_main_menu .item {
    margin-top: 12px;
}
.top_main_menu .item a{
    color: #fff;
}
.ui .list .item .header{
    color: #ffffff;
}
.ui.header> .icon{
    font-size: 1.3em;
 }
.top_main_menu >.item > a .icon:hover{
    text-shadow: 0px 0px 5px  #ffffff;
}
.icon-menu{
    padding-top: 1em;
    position: relative;
} 
.notification-icon {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 26px 25px 25px 25px;
}
.notification-icon:hover {
    background-color: rgba(55, 70, 97, 0.75);
}
</style>    
