<template>
	<div class="rightbar" :class="{active: clickStatus}">
	<div class="ui comments">
		<h3 class="ui dividing header">Comments<br></h3>
		<div class="comment">
			<a class="avatar">
				<img src="../../assets/profile.png">
			</a>
			<div class="content">
				<a class="author">Matt</a>
				<div class="metadata">
					<span class="date">Today at 5:42PM</span>
				</div>
				<div class="text">
					How artistic!
				</div>
				<div class="actions">
					<a class="reply">Reply</a>
				</div>
			</div>
		</div>
		<div class="comment">
			<a class="avatar">
				<img src="../../assets/profile.png">
			</a>
			<div class="content">
				<a class="author">Elliot Fu</a>
				<div class="metadata">
					<span class="date">Yesterday at 12:30AM</span>
				</div>
				<div class="text">
					<p>This has been very useful for my research. Thanks as well!</p>
				</div>
				<div class="actions">
					<a class="reply">Reply</a>
				</div>
			</div>
			<div class="comments">
				<div class="comment">
					<a class="avatar">
						<img src="../../assets/profile.png">
					</a>
					<div class="content">
						<a class="author">Jenny Hess</a>
						<div class="metadata">
							<span class="date">Just now</span>
						</div>
						<div class="text">
							Elliot you are always so right :)
						</div>
						<div class="actions">
							<a class="reply">Reply</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comment">
			<a class="avatar">
				<img src="../../assets/profile.png">
			</a>
			<div class="content">
				<a class="author">Joe Henderson</a>
				<div class="metadata">
					<span class="date">5 days ago</span>
				</div>
				<div class="text">
					Dude, this is awesome. Thanks so much
				</div>
				<div class="actions">
					<a class="reply">Reply</a>
				</div>
			</div>
		</div>
		<div class="comment">
			<a class="avatar">
				<img src="../../assets/profile.png">
			</a>
			<div class="content">
				<a class="author">Joe Henderson</a>
				<div class="metadata">
					<span class="date">5 days ago</span>
				</div>
				<div class="text">
					Dude, this is awesome. Thanks so much
				</div>
				<div class="actions">
					<a class="reply">Reply</a>
				</div>
			</div>
		</div>
		<div class="comment">
			<a class="avatar">
				<img src="../../assets/profile.png">
			</a>
			<div class="content">
				<a class="author">Joe Henderson</a>
				<div class="metadata">
					<span class="date">5 days ago</span>
				</div>
				<div class="text">
					Dude, this is awesome. Thanks so much
				</div>
				<div class="actions">
					<a class="reply">Reply</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</template>

<script>
  export default {
    props: ['clickStatus']
  }
</script>

<style scoped>
.rightbar{
	width: 18em;
	height: 100%;
	position: absolute;
	top: 70px;
	right: -100%;
	overflow: auto;
	background-color: #fff;
	padding: 2em 1.5em;
	opacity: 0;
	transition: all 0.4s;
	box-shadow: -1px 0 0 #efefef;
}
.rightbar.active {
	right: 0 !important;
	opacity: 1;
}
</style>
