<template>

    <div class="three wide column sidemenu">

        <!-- logo -->
        <div class="logo">
            <!-- <h1>EMS</h1> -->
            <img src="../../assets/netdoc.png" alt="logo" class="ui small image logoImage">
        </div><!-- /logo -->

        <!-- profile -->
        <div class="profile-weigth">

            <div class="left floated side-profile-pic">
                <img class="ui circular tiny image" src="../../assets/profile.png" alt="profile picture">
            </div>

            <div class="right floated side-profile-content">
                <h4>Name Hamd</h4>
                <span>Designation</span>
                <p>
                    <a href="" class="" data-tooltip="Setting" data-position="left center"><i class="setting icon"></i></a>
                    <a href="" class="" data-tooltip="Statistics" data-position="bottom center"><i class="options icon"></i></a>
                    <a href="#" @click="systemClickLogout" class="" data-tooltip="Log-out" data-position="right center"><i class="sign out icon"></i></a>
                </p>
            </div>

        </div><!-- /profile -->
        
                
        <!-- left button menu -->
        <div class="ui list sidebar-content">
            <router-link to="/employee/all" class="item sub-item" >Employee</router-link>
            <router-link to="/employee/create" class="item sub-item" >New</router-link>
            <router-link to="/employee/expence" class="item sub-item" >Expences</router-link>
            <router-link to="/employee/leaves" class="item sub-item" >Leaves</router-link>
            <router-link to="/employee/expence" class="item sub-item" >Documents</router-link>
            <router-link to="/settings" class="item sub-item" >Settings</router-link>
        </div><!-- /left button menu -->   

    </div>

</template>

<script>
  import api from '@/api/index'
  export default {
    methods: {
      systemClickLogout () {
        api.request('post', '/api/logout')
        .then((response) => {
          this.$notify({
            title: 'Important Note',
            text: 'Successfully Signout',
            type: 'success'
          })
          console.log(response)
          window.localStorage.removeItem('ErpAuthUserToken')
          this.$router.replace('/login')
        }).catch(function (error) {
          console.log(error)
        })
      }
    }
  }
</script>

<style scoped>
.sidemenu{
    padding-right: 0 !important;
    box-shadow: 1px 0px 0 #eee;
}
.logo{
	height: 70px;
	background: #55688a;
	text-align: center;
	padding-left: 1.5em;
}
.logoImage {
    padding: 16px 0 0 0;
}
.logo> h1{
    padding-top: .6em;
    color: #ffffff;
    text-shadow: -1px -1px 0px #212121;
    text-align: left
}
.profile-weigth{
    border-bottom: 1px solid #efefef;
    display: inline-block;
    width: 100%;
    padding: 1.5em 1em 1.2em;
}
.profile-weigth .side-profile-pic{
	padding-right: 4%;
	width: 35%;
}
.profile-weigth .side-profile-content{
	width: 60%;
}
.profile-weigth h4{
    line-height: 1em;
    margin: 5px 0 5px;
	
}
.profile-weigth p{
    line-height: 1em;
    margin: 8px 0 5px;

}
.profile-weigth>.side-profile-content>p>a{
    margin: 0 5px 0 5px;
    color: #55688a;

}
.profile-weigth span{
    color: #55688a;
    font-size: 0.90em;
}
.sidebar-content{
	padding: 1.5em !important;
}

.ui.sidebar-content .item{
	color: #55688a;
}
.ui.sidebar-content .item a{
	color: #55688a;
	margin-top: 10px;
}
.ui.list .sub-item {
	position: relative;
	padding: 10px 10px 10px 18px;
	color: #111 !important;
	margin: 0;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.ui.list .sub-item:first-child{padding-top: 10px;}
.ui.list .sub-item:last-child{padding-bottom: 10px;}

.ui.list .sub-item:before{
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 3px;
	top: 45%;
	left: 0px;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.ui.list .sub-item:hover:before{
	width: 6px;
	height: 70%;
	top: 15%;
} 
/*befor hover color*/
.ui.list .sub-item:nth-child(1):before {background-color: #d50000;}
.ui.list .sub-item:nth-child(2):before {background-color: #ffab00;}
.ui.list .sub-item:nth-child(3):before {background-color: #4527a0;}
.ui.list .sub-item:nth-child(4):before {background-color: #2e7d32;}
.ui.list .sub-item:nth-child(5):before {background-color: #1565c0;}
.ui.list .sub-item:nth-child(6):before {background-color: #ffa000;}
.ui.list .sub-item:nth-child(7):before {background-color: #6d4c41;}
.ui.list .sub-item:nth-child(8):before {background-color: #546e7a;}
.ui.list .sub-item:nth-child(9):before {background-color: #00796b;}
/*list hover color*/
.ui.list .sub-item:nth-child(1):hover {color: #d50000 !important;}
.ui.list .sub-item:nth-child(2):hover {color: #ffab00 !important;}
.ui.list .sub-item:nth-child(3):hover {color: #4527a0 !important;}
.ui.list .sub-item:nth-child(4):hover {color: #2e7d32 !important;}
.ui.list .sub-item:nth-child(5):hover {color: #1565c0 !important;}
.ui.list .sub-item:nth-child(6):hover {color: #ffa000 !important;}
.ui.list .sub-item:nth-child(7):hover {color: #6d4c41 !important;}
.ui.list .sub-item:nth-child(8):hover {color: #546e7a !important;}
.ui.list .sub-item:nth-child(9):hover {color: #00796b !important;}

</style>
