<template>
	<div>
    <!-- content header -->
    <div class="content-heading">
        <div class="left floated content_title">
            <h3>
                <i class="user icon"></i>
                Settings
            </h3>
        </div>

        <div class="ui right floated"></div>
        
    </div><!-- /content header -->
	
	<div class="content">
        <div class="ui three cards">
            <div class="ui card">
                <div class="content">
                    <h4 class="ui header">
                        <i class="clone icon"></i>
                        <div class="content">Branch
                            <div class="sub heade"><em>Manage Branch</em></div>
                        </div>
                    </h4>
                </div>
                <div class="extra content">
                    <button class="ui tiny button" @click="$modal.show('branchs')">Branch</button>
                    <button class="ui tiny  button" @click="$modal.show('createBranch')"> <i class="icon plus"></i>Add</button>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h4 class="ui header">
                        <i class="clone icon"></i>
                        <div class="content">Department
                            <div class="sub heade"><em>Manage Department</em></div>
                        </div>
                    </h4>
                </div>
                <div class="extra content">
                    <button class="ui tiny  button" @click="$modal.show('departments')">Departments</button>
                    <button class="ui tiny  button" @click="$modal.show('createDepartment')"> <i class="icon plus"></i>Add</button>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h4 class="ui header">
                        <i class="clone icon"></i>
                        <div class="content">Employee Type
                            <div class="sub heade"><em>Manage Employee-Type</em></div>
                        </div>
                    </h4>
                </div>
                <div class="extra content">
                    <button class="ui tiny  button" @click="$modal.show('employeeTypes')">Employee-type</button>
                    <button class="ui tiny  button" @click="$modal.show('createEmployeeType')"> <i class="icon plus"></i>Add</button>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h4 class="ui header">
                        <i class="clone icon"></i>
                        <div class="content">Designation
                            <div class="sub heade"><em>Manage Designation</em></div>
                        </div>
                    </h4>
                </div>
                <div class="extra content">
                    <button class="ui tiny  button" @click="$modal.show('designation')">Designation</button>
                    <button class="ui tiny  button" @click="$modal.show('createDesignation')"> <i class="icon plus"></i>Add</button>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h4 class="ui header">
                        <i class="clone icon"></i>
                        <div class="content">Role
                            <div class="sub heade"><em>Manage Role</em></div>
                        </div>
                    </h4>
                </div>
                <div class="extra content">
                    <button class="ui tiny  button" @click="$modal.show('branchs')">Role</button>
                    <button class="ui tiny  button" @click="$modal.show('createRole')"> <i class="icon plus"></i>Add</button>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <h4 class="ui header">
                        <i class="clone icon"></i>
                        <div class="content">Permission
                            <div class="sub heade"><em>Manage Permission</em></div>
                        </div>
                    </h4>
                </div>
                <div class="extra content">
                    <button class="ui tiny  button" @click="$modal.show('branchs')">Permission</button>
                    <button class="ui tiny  button" @click="$modal.show('createPermission')"> <i class="icon plus"></i>Add</button>
                </div>
            </div>
        </div>
	</div>
    <!-- branchs model -->
    <branch-model></branch-model>
    <create-branch-model></create-branch-model>
    <!-- department model -->
    <department-model></department-model>
    <create-department-model></create-department-model>
    <!-- designation model -->
    <designation-model></designation-model>
    <create-designation-model></create-designation-model>
    <!-- employee model -->
    <employee-type-model></employee-type-model>
    <create-employee-type-model></create-employee-type-model>
    <!-- permission model -->
    <create-permission-model></create-permission-model>
    <!-- Role model -->
    <create-role-model></create-role-model>
	</div>
</template>
<script>
import Branch from './models/branch/CreateBranch'
import createBranch from './models/branch/Branches'
import Department from './models/department/Department'
import createDepartment from './models/department/Create'
import Designation from './models/designation/Designation'
import createDesignation from './models/designation/Create'
import EmployeeType from './models/employeeType/Index'
import createEmployeeType from './models/employeeType/Create'
import createPermission from './models/permission/Create'
import createRole from './models/role/Create'
import user from '@/store/store'
export default {
  components: {
    BranchModel: Branch,
    createBranchModel: createBranch,
    DepartmentModel: Department,
    createDepartmentModel: createDepartment,
    DesignationModel: Designation,
    createDesignationModel: createDesignation,
    EmployeeTypeModel: EmployeeType,
    createEmployeeTypeModel: createEmployeeType,
    createPermissionModel: createPermission,
    createRoleModel: createRole
  },
  created () {
    console.log(user.state.user)
  }
}
</script>
