<template>
  <div class="ui middle aligned center aligned grid">
      <div class="column">
        <img class="ui medium middle aligned image" src="../../assets/netdoc.png" />
        <br><br>
        <form class="ui large form">
            <div class="ui stacked segment">
              <h4>Log-in</h4>
              <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input name="identityKey"
                      v-model="identity_key"
                      placeholder="Your Id"
                        type="text" />
                  </div>
              </div>
              <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input name="password"
                      v-model="password"
                      placeholder="Password"
                        type="password" />
                  </div>
              </div>
              <button class="ui middle submit button"
                type="submit"
                @click.prevent="loginSubmit">Login</button>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            Forget Password?<a href=""> Click Here</a>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import { baseUrl, tokenName, loginHeader, authHeader } from '@/api/config'
export default {
  data () {
    return {
      identity_key: '10810',
      password: 'secret'
    }
  },
  methods: {
    loginSubmit () {
      const {identity_key, password} = this
      var _this = this
      axios.post(baseUrl + '/api/login', { identity_key, password }, loginHeader)
      .then((response) => {
        console.log(response)
        // store user token
        window.localStorage.setItem(tokenName, response.data.meta.token)
        // this.$auth.setToken(response.data.meta.token)
        authHeader(response.data.meta.token)
        axios.defaults.headers.common['Authorization'] = 'Bearer' + authHeader()
        _this.$notify({
          title: 'Hello!',
          text: 'Login , Successfully. Please with till redired',
          type: 'success'
        })
        return this.$router.replace('/employee/all')
      }).catch(function (error) {
        let errorData = error.response.data
        if (errorData) {
          if (errorData.errors === 'invalid_credentials') {
            return _this.$notify({
              title: 'Invalid Credentiials!',
              text: 'Do not match password or id, Please try again',
              type: 'warn'
            })
          }
          if (errorData.errors === 'server_error') {
            return _this.$notify({
              type: 'error',
              title: 'erver Error',
              text: 'server Error'
            })
          }
        }
        return
      })
    }
  }
}
</script>

<style scoped>
.column {
  max-width: 400px;
  margin-top: 10%;
  margin-bottom: 5%;
}
.submit.button {
  background-color: #55688a;
  color: #fff;
  border: 1px solid #0f3579;
}
.submit.button:hover {
  background-color: #55688a;
  color: #fff;
  border: 1px solid #55688a;
}
</style>
