<template>
	<form @submit.prevent="nextComponent">
        <div class="ui form">
            <div class="fields">     
                <div class="six wide field"
                    :class="{'input': true, 'error': errors.has('Days') }">
                    <label>Working Days</label>
                    <div class="ui two column grid">
                        <div class="row">
                            <div class="column">
                              <input placeholder="Days"
                                v-model="administrative.workingDays"
                                name="Days" 
                                v-validate="'required'"
                                type="number">
                            </div>
                            <div class="column">
                                <multiselect v-model="administrative.workingDaysType"
                                  :options="WorkingDaysTypeValues"
                                  :searchable="false"
                                  :close-on-select="true"
                                  :show-labels="false"
                                  v-validate="'required'"
                                  placeholder="Type"></multiselect>
                            </div>
                        </div>
                    </div>
                    <span v-if="errors.has('Days')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('Days') }}</span>
                </div><!-- End of Working Days-->

                <div class="four wide field"
                    :class="{'input': true, 'error': errors.has('time') }">
                    <label>Working Hours</label>
                    <vue-timepicker
                      v-model="administrative.workingTime"
                      format="HH:mm"
                      v-validate="'required'"
                      class="workingTime"></vue-timepicker>
                    <span v-if="errors.has('time')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('time') }}</span>
                </div><!-- End of Working Hours-->
                <div class="six wide field"
                    :class="{'input': true, 'error': errors.has('leaves') }">
                    <label>Monthly leave</label>
                    <input placeholder="Monthly Leaves"
                      v-model="administrative.workingLeaves"
                      name="leaves"
                      v-validate="'required'"
                      type="number">
                    <span v-if="errors.has('leaves')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('leaves') }}</span>
                </div>
            </div><!-- End of two fileds-->

            <div class="fields">
                <div class="four wide field"
                    :class="{'input': true, 'error': errors.has('employeeType') }">
                    <label>Employee Type</label>
                    <multiselect v-model="administrative.type"
                        :options="employeeType"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                        track-by="id"
                        label="name"
                        name="employeeType"
                        v-validate="'required'"
                        placeholder="Type"></multiselect>
                    <span v-if="errors.has('employeeType')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('employeeType') }}</span>
                </div><!-- End of Employee Type -->
                <div class="four wide field"
                    :class="{'input': true, 'error': errors.has('salary') }">
                    <label>Salary</label>
                    <input placeholder="Salary" 
                      v-model="administrative.salary"
                      name="salary" 
                      v-validate="'required'"
                      type="number">
                    <span v-if="errors.has('salary')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('salary') }}</span>
                </div> <!-- End of salary field -->
                <div class="four wide field"
                    :class="{'input': true, 'error': errors.has('department') }">
                    <label>Department</label>
                    <multiselect v-model="administrative.department"
                        :options="DepartmentValues"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                        track-by="id"
                        label="name"
                        name="department"
                        v-validate="'required'"
                        placeholder="Department"></multiselect>
                    <span v-if="errors.has('department')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('department') }}</span>
                </div> <!-- End of salary field -->
                <div class="four wide field"
                    :class="{'input': true, 'error': errors.has('branch') }">
                    <label>Branch</label>
                    <multiselect v-model="administrative.branch"
                        :options="BranchValues"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                        track-by="id"
                        label="name"
                        name="branch"
                        v-validate="'required'"
                        placeholder="Branch"></multiselect>
                    <span v-if="errors.has('branch')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('branch') }}</span>
                </div><!-- End of Branch field -->
            </div><!-- End of fields -->

            <div class="fields">
                <div class="six wide field"
                    :class="{'input': true, 'error': errors.has('designation') }">
                    <label>Designation</label>
                    <multiselect v-model="administrative.designation"
                        :options="DesignationValues"
                        :searchable="false"
                        :close-on-select="true"
                        :show-labels="false"
                        track-by="id"
                        label="name"
                        name="designation"
                        v-validate="'required'"
                        placeholder="Designation"></multiselect>
                    <span v-if="errors.has('designation')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('designation') }}</span>
                </div><!-- End of  Designation field -->
            </div><!-- End of right Column -->
            <h5><b>User Roles</b></h5>
            <div class="ui five cards">
                <div v-for="group in permissionGroup" class="ui card">
                  <div class="ui checkbox title">
                      <input type="checkbox" name="example">
                      <label><b>{{ group.group }}</b></label>
                      <i class="dropdown icon pull-right float right" @click="group.active = !group.active"></i>
                  </div>
                  <div class="content"  v-show="group.active">
                      <div v-for="permit in group.permissions" class="ui checked checkbox">
                          <input type="checkbox" :value="permit.id" v-model="administrative.permission">
                        <label>{{permit.description}}</label>
                      </div><br>
                  </div>
                </div>
            </div>
        </div> <!-- End of ui form row -->
        <div class="form-button-bottom">
            <button @click="previousComponent"
                class="ui compact left labeled icon lightBlue button">
                  <i class="left arrow icon"></i>Previous     
            </button>
            <button  @click="check"
               class="ui compact right labeled icon green button">
                  <i class="cloud icon"></i>Save     
            </button>
            <button
               class="ui compact right labeled icon lightBlue button">
                  <i class="right arrow icon"></i>Next     
            </button>
        </div>    <!-- End of  form-button-bottom-->
    </form>
</template>
<script>
import api from '@/api/index'
import { eventBusForEmployeeCreate } from '@/main'
import VueTimepicker from 'vue2-timepicker'
import Multiselect from 'vue-multiselect'

export default {
  components: {
    VueTimepicker: VueTimepicker,
    Multiselect
  },
  data () {
    return {
      permissionGroup: [],
      WorkingDaysTypeValues: ['Daily', 'Weekly', 'Monthly', 'Yearly'],
      employeeType: [],
      DesignationValues: [],
      BranchValues: [],
      DepartmentValues: [],
      administrative: {
        workingTime: { HH: '08', mm: '00' },
        workingDays: '',
        workingLeaves: '',
        salary: '',
        type: '',
        designation: '',
        branch: '',
        department: '',
        permission: []
      }
    }
  },
  created () {
    this.getDepartments()
    this.getDesignation()
    this.getEmployeeType()
    this.getBranches()
    this.getPermissionGroups()
  },
  methods: {
    check () {
      console.log(this.permission)
    },
    previousComponent () {
      eventBusForEmployeeCreate.changeComponentChild('appPersonal')
    },
    nextComponent () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.commit('setAdministrative', this.administrative)
          eventBusForEmployeeCreate.changeComponentChild('appIDAssign')
          console.log(this.administrative)
        } else {
          this.$notify({
            title: 'Fill Form',
            text: 'Please! Fill all color form!',
            type: 'warn'
          })
        }
      }).catch(() => {
        this.$notify({
          title: 'ERROR',
          text: 'Something Happend',
          type: 'error'
        })
      })
    },
    getDepartments () {
      api.request('get', '/api/HRM/departments')
      .then((response) => {
        console.log(response)
        this.DepartmentValues = response.data.departments
      }).catch(function (error) {
        console.log(error)
      })
    },
    getDesignation () {
      api.request('get', '/api/HRM/designation')
      .then((response) => {
        console.log(response)
        this.DesignationValues = response.data.designation
      }).catch(function (error) {
        console.log(error)
      })
    },
    getEmployeeType () {
      api.request('get', '/api/HRM/employeeTypes')
      .then((response) => {
        console.log(response)
        this.employeeType = response.data.employeeTypes
      }).catch(function (error) {
        console.log(error)
      })
    },
    getBranches () {
      api.request('get', '/api/HRM/branches')
      .then((response) => {
        console.log(response)
        this.BranchValues = response.data.data.branches
      }).catch(function (error) {
        console.log(error)
      })
    },
    getPermissionGroups () {
      api.request('get', '/api/group')
      .then((response) => {
        console.log(response)
        this.permissionGroup = response.data
      }).catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
    .workingTime{
        width: 100% !important;
    }
    .workingTime input {
        padding: 1.3em 1em !important; 
    }
    .workingTime .dropdown ul li.active,
    .workingTime .dropdown ul li.active:hover{
        background: #55688a !important;
        color: #fff;
    }
    .multiselect__option--highlight {
        background: #55688a;
        outline: none;
        color: #fff
    }
    .float.right {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-align: right;
        line-height: 2.4em;
        padding-right: 0.5em;
    }
    .checkbox.title {
        padding: 0.5em 1em;
    }
    .ui.checkbox.title input {
        margin: 0.5em 1em;
        z-index: 10;
    }
</style>
