<template>
  <div>
    <!-- content header -->
    <div class="content-heading">
        <div class="left floated content_title">
            <h3>
                <i class="user icon"></i>
                Employee Create
            </h3>
        </div>

        <div class="ui right floated basic buttons">

            <button 
              @click="SelectComponent = 'appPersonal'"
              :class="{active: (SelectComponent == 'appPersonal')? true : false }"
              class="ui button "
              >Personal</button>

            <button 
              @click="SelectComponent = 'appAdministrative'" 
              :class="{active: (SelectComponent == 'appAdministrative')? true : false }"
              class="ui button"
              >Administrative</button>

            <button 
              @click="SelectComponent = 'appIDAssign'"
              :class="{active: (SelectComponent == 'appIDAssign')? true : false }" 
              class="ui button"
              >ID Assign</button>

        </div>
        
    </div><!-- /content header -->

    <!-- content body -->
    <keep-alive>

        <components :is="SelectComponent"></components>

    </keep-alive><!-- /content body -->
    
  </div>
</template>

<script>
import Personal from './Personal'
import Administrative from './Administrative'
import IDAssign from './IdAssign'
import { eventBusForEmployeeCreate } from '@/main'

export default {
  name: 'employeeCreate',
  data () {
    return {
      SelectComponent: 'appPersonal'
    }
  },
  components: {
    appPersonal: Personal,
    appAdministrative: Administrative,
    appIDAssign: IDAssign
  },
  created () {
    eventBusForEmployeeCreate.$on('changeComponentParent', (eventComponent) => {
      this.SelectComponent = eventComponent
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .ui.basic.buttons {
    border-radius: 0;
    margin-bottom: -1px;
  }
  .ui.basic.buttons .button.active{
    background-color: #55688a !important;
    color: #fff !important;
    border-radius: 0;
    font-weight: 700;
  }
</style>
