<template>
  <modal class="fullscreen" name="employeeInfo" :pivotY=0.15 height="auto" :scrollable="true">
    <div class="ui attached warning message">
      <div class="header">
        Attention! 
      </div>
      <p>Please Check All Data before final Confirmed</p>
    </div>
    <div class="ui attached stacked segment">
      <h4 class="ui header">
        <img :src="employee.personal.profilePic">
        <div class="content">
          {{employee.personal.first_name}} {{employee.personal.last_name}}
          <div class="sub heade" v-if="employee.id"><em>id : {{employee.id}}</em></div>
        </div>
      </h4>
      <div class="scrolling content">
        <div class="personal">
          <h4 class="headerTag">Personal</h4>
          <div class="ui grid ">
              <div class="eight wide column"><b>Gender :</b> {{employee.personal.gender}}</div>
              <div class="eight wide column"><b>BirthDate :</b> {{employee.personal.dob}}</div>
              <div class="eight wide column"><b>Email :</b> {{employee.personal.email}}</div>
              <div class="eight wide column"><b>Phone :</b> {{employee.personal.phone}}</div>
              <div class="eight wide column"><b>Nation Id NO :</b> {{employee.personal.nid}}</div>
              <div class="eight wide column"><b>ZipCode :</b> {{employee.personal.zip_code}}</div>
              <div class="sixteen wide column"><b>Address :</b> {{employee.personal.address}}</div>
              <div class="eight wide column"><b>Country :</b> {{employee.personal.country}}</div>
              <div class="eight wide column"><b>Division :</b> {{employee.personal.country}}</div>
              <div class="eight wide column"><b>District :</b> {{employee.personal.country}}</div>
              <div class="eight wide column"><b>Sub-District :</b> {{employee.personal.sub_district_id}}</div>
          </div>
        </div>
        <div class="administrative"><br>
          <h4 class="headerTag">Administrative</h4>
          <div class="ui grid ">
              <div class="eight wide column">
                <b>working Days :</b>
                {{employee.administrative.workingDays}} 
                <b> ( {{ employee.administrative.workingDaysType }} ) </b>
              </div>
              <div class="eight wide column"><b>Working Hour :</b> <span v-if="employee.administrative.workingTime">{{employee.administrative.workingTime.HH}} Hour - {{employee.administrative.workingTime.mm}} Minutes </span></div>
              <div class="eight wide column"><b>Monthly Leaves :</b> {{employee.administrative.workingLeaves}} Days</div>
              <div class="eight wide column"><b>Salary :</b> {{employee.administrative.salary}}</div>
              <div class="eight wide column"><b>Employee Type :</b> 
              <span v-if="employee.administrative.type">{{employee.administrative.type.name}}</span>
              </div>
              <div class="eight wide column"><b>Designation :</b> 
              <span v-if="employee.administrative.designation">{{employee.administrative.designation.name}}</span>
              </div>
              <div class="eight wide column"><b>Department :</b> 
               <span v-if="employee.administrative.department">{{employee.administrative.department.name}}</span>
              </div>
              <div class="eight wide column"><b>Branch :</b> 
              <span v-if="employee.administrative.branch">{{employee.administrative.branch.name}}</span></div>
              <!-- <div class="sixteen wide column"><b>Permission's :</b> {{employee.administrative.permission}}</div> -->
          </div>
        </div>
        <div class="ID Assign"><br>
          <h4 class="headerTag">Employee Id Assign</h4>
          <div class="ui grid ">
              <div class="eight wide column"><b>Id :</b> {{employee.id}}</div>
              <div class="sixteen wide column"><b>Joining Date :</b> {{employee.finalInfo.joinDate}}</div>
              <div class="sixteen wide column"><b>Letter :</b> {{employee.finalInfo.letter}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui bottom attached message actions">
        <div @click="confirmEmployee"
        class="ui positive right labeled icon button">Yep! Check & Confirmed
            <i class="checkmark icon"></i>
        </div>
        <div @click="" class="ui red right labeled icon button">No! Should Edit 
            <i class="erase icon"></i>
        </div>
    </div>
  </modal>
</template>
<script>
  import api from '@/api/index'
  export default {
    data () {
      return {
        employee: this.$store.getters.getEmployee
      }
    },
    methods: {
      confirmEmployee () {
        api.request('post', '/api/HRM/employees', this.employee)
        .then((response) => {
          console.log(response)
          this.$notify({
            title: 'Important Note',
            text: 'Successfully Store ',
            type: 'success'
          })
          // this.$router.push('/settings')
        }).catch(function (error) {
          console.log(error)
        })
      }
    }
  }
</script>
<style>
  .headerTag {
    border-left: 3px solid #ddd;
    padding: 0.3em 0.5em;
    background-color: #eee;

  }
</style>
