<template> 
    <div>
    <form class="ui form"  @submit.prevent="finalSubmit">
        <div class="fields">
            <div class="eight wide field"
                :class="{'input': true, 'error': errors.has('id') }">
                <label>ID</label>
                <input placeholder="ID"
                    v-model="id"
                    v-validate="'required|min:5'"
                    name="id"
                    type="text">
                <span v-if="errors.has('id')"
                    class="ui basic red pointing prompt label transition visible"
                    >{{ errors.first('id') }}</span>
            </div>
            <div class="eight wide field"
                :class="{'input': true, 'error': errors.has('joinDate') }">
                <label>Joining Date</label>
                <input placeholder=""
                    v-model="employeeFinal.joinDate"
                    v-validate="'required'"
                    name="joinDate" 
                    type="date">
                <span v-if="errors.has('joinDate')"
                    class="ui basic red pointing prompt label transition visible"
                    >{{ errors.first('joinDate') }}</span>
            </div>
        </div>
        <div class="field">
            <label>Joining Letter For Email(optional)</label>
            <textarea rows="4" v-model="employeeFinal.letter"></textarea>
        </div>

        <div class="form-button-bottom">
            <button @click="previousComponent"
             class="ui compact left labeled icon lightBlue button">
                <i class="left arrow icon"></i>Previous     
            </button>
            <button
             class="ui compact right labeled icon lightBlue button">
                <i class="cloud upload icon"></i>Finish and Save     
            </button>
        </div>    <!-- End of  form-button-bottom-->
    </form>
    <app-employee-modal></app-employee-modal>
    </div>
</template>

<script>
import { eventBusForEmployeeCreate } from '@/main'
import EmployeeModal from './EmployeeModal'
export default {
  data () {
    return {
      id: '',
      employeeFinal: {
        joinDate: '',
        letter: ''
      }
    }
  },
  components: {
    appEmployeeModal: EmployeeModal
  },
  methods: {
    previousComponent () {
      eventBusForEmployeeCreate.changeComponentChild('appAdministrative')
    },
    finalSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.commit('setId', this.id)
          this.$store.commit('setFinalInfo', this.employeeFinal)
          if (this.$store.getters.getEmployee.personal.length === 0) {
            return eventBusForEmployeeCreate.changeComponentChild('appPersonal')
          }
          if (this.$store.getters.getEmployee.administrative.length === 0) {
            return eventBusForEmployeeCreate.changeComponentChild('appAdministrative')
          }
          this.$modal.show('employeeInfo')
          // this.$router.push('/employee/profile')
        } else {
          this.$notify({
            title: 'Fill Form',
            text: 'Please! Fill all color form!',
            type: 'warn'
          })
        }
      }).catch(() => {
        this.$notify({
          title: 'ERROR',
          text: 'Something happend',
          type: 'error'
        })
      })
    }
  }
}
</script>
