<template>
	<form  @submit.prevent="personalInfoSubmit" enctype="multipart/form-data">
        <div class="ui equal width padded grid">
            <div class="ui form row">
                <div class="column">
                    <div class="two fields">
                        <div class="field" 
                            :class="{'input': true, 'error': errors.has('firstName') }">
                            <label>First Name</label>
                            <input placeholder="First Name"
                                v-model="personalInfo.first_name"
                                v-validate="'required|alpha|min:3'"
                                name="firstName" 
                                type="text">
                            <span v-if="errors.has('firstName')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('firstName') }}</span>
                        </div>
                        <div class="field" 
                        :class="{'input': true, 'error': errors.has('lastName') }">
                            <label>Last Name</label>
                            <input placeholder="Last Name"
                                v-model="personalInfo.last_name"
                                v-validate="'required|alpha|min:3'"
                                name="lastName" 
                                type="text">
                            <span v-if="errors.has('lastName')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('lastName') }}</span>
                        </div>
                    </div>
                    <div class="field" 
                        :class="{'input': true, 'error': errors.has('email') }">
                        <label>Email</label>
                        <input placeholder="Email"
                            v-model="personalInfo.email"
                            v-validate="'required|email'"
                            name="email"
                            type="email">
                        <span v-if="errors.has('email')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('email') }}</span>
                    </div>
                    <div class="two fields">
                        <div class="field" 
                            :class="{'input': true, 'error': errors.has('phoneNumber') }">
                            <label>Phone No.</label>
                            <input placeholder="phone number"
                                v-model="personalInfo.phone"
                                v-validate="'required'"
                                name="phoneNumber" 
                                type="text">
                            <span v-if="errors.has('phoneNumber')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('phoneNumber') }}</span>
                        </div>
                        <div class="field" 
                            :class="{'input': true, 'error': errors.has('NIDNumber') }">
                            <label>NID No.</label>
                            <input placeholder="NID number"
                                v-model="personalInfo.nid"
                                v-validate="'required'"
                                name="NIDNumber" 
                                type="text">
                            <span v-if="errors.has('NIDNumber')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('NIDNumber') }}</span>
                        </div>
                    </div><!--Emd of two Fields -->
                    <div class="two fields">
                        
                        <div class="date field" 
                            :class="{'input': true, 'error': errors.has('birthDate') }">
                            <label>Date Of Birth</label>
                            <vue-datepicker-local
                                :local="local"
                                v-model="personalInfo.dob"
                                name="birthDate" 
                                placeholder="BirthDate"
                                v-validate="'required'"></vue-datepicker-local>

                            <span v-if="errors.has('birthDate')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('birthDate') }}</span>
                        </div>
                        <div class="field" 
                        :class="{'input': true, 'error': errors.has('gender') }">
                            <label>Gender</label>
                            <multiselect v-model="personalInfo.gender"
                            name="gender" 
                            v-validate="'required'"
                            :options="genders"
                            :searchable="false"
                            :allow-empty="false"
                            :close-on-select="true"
                            :show-labels="false"
                            placeholder="Gender"></multiselect>
                            <span v-if="errors.has('gender')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('gender') }}</span>
                        </div>
                      
                    </div>
                    <div class="field" 
                        :class="{'input': true, 'error': errors.has('profilePic') }">
                        <div v-if="!personalInfo.profilePic">
                            <label>Profile Picture</label>
                            <input type="file"
                             @change="onFileChange"
                             name="profilePic"
                             v-validate="'required|mimes:image/jpeg,image/png'">
                        </div>
                        <div class="profilePicView" v-else>
                            <img class="profileImage" :src="personalInfo.profilePic" />
                            <button class="mini ui red button remove" @click="removeImage">Remove</button>
                        </div>
                        <span v-if="errors.has('profilePic')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('profilePic') }}</span>
                    </div>
                    
                </div> <!-- End of column first -->
                <div class="column">
                    <div class="two fields">
                        <div class="field" 
                        :class="{'input': true, 'error': errors.has('country') }">
                            <label>Country</label>
                            <multiselect v-model="personalInfo.country"
                                name="country" 
                                v-validate="'required'"
                                :options="countries"
                                :searchable="false"
                                :close-on-select="true"
                                :show-labels="false"
                                placeholder="Country"></multiselect>
                            <span v-if="errors.has('country')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('country') }}</span>
                        </div>
                        <div class="field" 
                        :class="{'input': true, 'error': errors.has('division') }">
                            <label>Division</label>
                            <multiselect v-model="division"
                                @select="clickChck()"
                                track-by="division"
                                label="division"
                                name="division"
                                v-validate="'required'"
                                :options="divisions"
                                :searchable="false"
                                :close-on-select="true"
                                :show-labels="false"
                                placeholder="Division"></multiselect>
                            <span v-if="errors.has('division')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('division') }}</span>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field" 
                        :class="{'input': true, 'error': errors.has('district') }">
                            <label>District</label>
                            <multiselect v-model="district"
                                track-by="name"
                                label="name"
                                name="district"
                                v-validate="'required'"
                                :options="districtList"
                                :searchable="false"
                                :close-on-select="true"
                                :show-labels="false"
                                placeholder="District"></multiselect>
                            <span v-if="errors.has('district')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('district') }}</span>
                        </div>
                        <div class="field" 
                        :class="{'input': true, 'error': errors.has('sub_district') }">
                            <label>Sub-District</label>
                            <multiselect v-model="sub_district"
                                name="sub_district"
                                v-validate="'required'"
                                :options="subDistrictList"
                                :searchable="false"
                                :close-on-select="true"
                                :show-labels="false"
                                placeholder="Sub District"></multiselect>

                            <span v-if="errors.has('sub_district')"
                                class="ui basic red pointing prompt label transition visible"
                                >{{ errors.first('sub_district') }}</span>
                        </div><!-- End of Sub-District field -->
                    </div> 

                    <div class="field" 
                        :class="{'input': true, 'error': errors.has('address') }">
                        <label>Address</label>
                        <textarea placeholder="address"
                            v-model="personalInfo.address"
                            v-validate="'required'"
                            name="address" class="addressField"></textarea> 
                        <span v-if="errors.has('address')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('address') }}</span>
                    </div>

                    <div class="field" 
                    :class="{'input': true, 'error': errors.has('zipCode') }">
                        <label>ZIP Code</label>
                        <input placeholder="ZIP code"
                            v-model="personalInfo.zip_code"
                            v-validate="'required'"
                            name="zipCode" 
                            type="text">
                        <span v-if="errors.has('zipCode')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('zipCode') }}</span>
                    </div>

                </div> <!-- End of column second  -->
                
                <div class="form-button-bottom">
                    <button
                     class="ui compact right labeled icon green button">
                        <i class="cloud icon"></i>Save     
                    </button>
                    <button
                        class="ui compact right labeled icon lightBlue button">
                        <i class="right arrow icon"></i>Next     
                    </button>
                </div>    <!-- End of  form-button-bottom-->
            </div>  <!--End of ui form row -->                  
        </div>    <!-- End of ui equal width padded grid--> 
    </form> <!--  /Personal tab -->
</template>

<script>
import Multiselect from 'vue-multiselect'
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '@/services/Local'
import Bangladesh from '@json/location/bangladesh.json'
import { eventBusForEmployeeCreate } from '@/main'

export default {
  components: {
    Multiselect,
    VueDatepickerLocal
  },
  data () {
    return {
      date: new Date(2016, 9, 16),
      local: datePickerLocal,
      countries: ['Bangladesh'],
      bangladesh: Bangladesh,
      districtList: [],
      subDistrictList: [],
      genders: ['Male', 'Female'],
      countryObject: '',
      division: '',
      district: '',
      sub_district: '',
      personalInfo: {
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        nid: '',
        dob: new Date(),
        gender: '',
        profilePic: '',
        country: '',
        sub_district_id: 1,
        address: '',
        zip_code: ''
      }
    }
  },
  computed: {
    divisions () {
      return this.bangladesh
    }
  },
  created () {
    let s = 0
    let x = 0
    for (let i in this.bangladesh) {
      for (let j in this.bangladesh[i].district) {
        this.districtList[s++] = this.bangladesh[i].district[j]
        for (let k in this.bangladesh[i].district[j].sub) {
          this.subDistrictList[x++] = this.bangladesh[i].district[j].sub[k]
        }
      }
    }
    // console.log(this.districtList)
  },
  watch: {
    countryObject () {
      this.personalInfo.country = this.countryObject.name
    }
  },
  methods: {
    clickChck () {
      alert(this.division)
      console.log(this.division)
    },
    personalInfoSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$store.commit('setPersonal', this.personalInfo)
          eventBusForEmployeeCreate.changeComponentChild('appAdministrative')
        } else {
          this.$notify({
            title: 'Fill Form',
            text: 'Please! Fill all color form!',
            type: 'warn'
          })
        }
      }).catch(() => {
        this.$notify({
          title: 'ERROR',
          text: 'Please! Something Happend',
          type: 'error'
        })
      })
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      if (!files[0]['type'].match(/.(jpg|jpeg|png|gif)$/i)) {
        alert('this is not a image')
        return
      }
      this.createImage(files[0])
    },
    createImage (file) {
      var reader = new FileReader()
      var vm = this
      reader.onload = (e) => {
        vm.personalInfo.profilePic = e.target.result
      }
      reader.readAsDataURL(file)
    },
    removeImage: function (e) {
      this.personalInfo.profilePic = ''
    }
  }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style> 
  .addressField{
        height: 30px !important;
    }
    .multiselect__option--highlight {
        background: #55688a;
        outline: none;
        color: #fff
    }
    .vdp-datepicker__calendar {
        bottom: 100%;
    }
    .profileImage{
      width: 30%;
      display: block;
      margin-bottom: 1em;
    }
    .profilePicView {
        position: relative;
    }
    .remove.button {
        position: absolute;
        right: 0;
        top: 40%;
    }
</style>
