<template>
<div class="ui five cards">
    <div v-for="group in permissionsGroupProp" class="ui card">
        <div class="ui checkbox title">
            <input type="checkbox" name="example">
            <label><b>{{ group.group }}</b></label>
            <i class="dropdown icon pull-right float right" @click="toggleContent"></i>
        </div>
        <div class="content"  v-if="contentVisible">
            <div v-for="permit in group.permissions" class="ui checked checkbox">
                <input type="checkbox" :value="permit.route" v-model="permission">
              <label>{{permit.description}}</label>
            </div><br>
        </div>
    </div>
</div>
</template>

<script>
export default {
  data () {
    return {
      contentVisible: false,
      permission: []
    }
  },
  props: ['permissionsGroupProp'],
  methods: {
    toggleContent: function () {
      this.contentVisible = !this.contentVisible
    }
  }
}
</script>
<style scoped>
    .float.right {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        line-height: 2em;
        height: 2.2em;
        z-index: 20;
    }
    .checkbox.title {
        padding: 0.5em 1em;
    }
    .ui.checkbox.title input {
        width: 100%;
        height: 100%;
        z-index: 1;
    }
</style>
