<template>
	<modal name="branchs" :pivotY=0.15 height="auto" :scrollable="true">
		<div class="ui stacked segment">
			<h4 class="ui header">
			  <i class="clone icon"></i>
			  <div class="content">
			    Branches
			  	<div class="sub heade"><em>All Branchs</em></div>
			  </div>
			</h4>
			<div class="ui list">
			    <a class="item" v-for="branch in branches">
				    <i class="right triangle icon"></i>
				    <div class="content">
				    	<div class="header">{{ branch.name }} | Dhaka | Bangladesh</div>
				    	<div class="description">employee: 45,</div>
				    </div>
			    </a>
			</div>
		</div>
	</modal>
</template>
<script>
import api from '@/api/index'
export default {
  data () {
    return {
      branches: []
    }
  },
  created () {
    api.request('get', '/api/HRM/branches')
    .then((response) => {
      console.log(response)
      this.branches = response.data.data.branches
    }).catch(function (error) {
      console.log(error)
    })
  }
}
</script>
<style>
</style>
