<template>
	<modal name="createBranch" :pivotY=0.15 height="auto">
		<div class="ui stacked segment">
			<h4 class="ui header">
			  <i class="clone icon"></i>
			  <div class="content">
			    Branches
			  	<div class="sub heade"><em>Create Branch</em></div>
			  </div>
			</h4>

		    <form class="ui form">
		    	<div class="field"
    				:class="{'input': true, 'error': errors.has('Name') }">
		    		<label>Name</label>
		    		<input type="text" v-model="branchInfo.name"
		    			placeholder="Branch Name" 
	    		 		name="Name"
	    		 		v-validate="'required'">
	    		 		<span
						 	v-if="errors.has('Name')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('Name') }}
						</span>
		    	</div>
		    	<div class="field"
		    		:class="{'input': true, 'error': errors.has('Address') }">
		    		<label>Address</label>
		    		<input type="text"
		    			v-model="branchInfo.address"
		    			name="Address"
		    			placeholder="Address"
		    			v-validate="'required'">
		    			<span
						 	v-if="errors.has('Address')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('Address') }}
						</span>
		    	</div>
		    	<div class="two fields">
		    		<div class="field"
		    		:class="{'input': true, 'error': errors.has('Country') }">
		    			<label>Country</label>
		    			<input type="text"
		    				v-model="branchInfo.country"
			    			name="Country" 
			    			placeholder="Country"
			    			v-validate="'required'">
		    			<span
						 	v-if="errors.has('Country')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('Country') }}
						</span>
		    		</div>
		    		<div class="field"
		    		:class="{'input': true, 'error': errors.has('Division') }">
		    			<label>Division</label>
		    			<input type="text" 
		    				v-model="branchInfo.division"
			    			name="Division" 
			    			placeholder="Division"
			    			v-validate="'required'">
		    			<span
						 	v-if="errors.has('Division')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('Division') }}
						</span>
		    		</div>
	    		</div>
		    	<div class="tree fields">
		    		<div class="field"
		    		:class="{'input': true, 'error': errors.has('District') }">
		    			<label>District</label>
		    			<input type="text"
		    				v-model="branchInfo.district"
			    			name="District" 
			    			placeholder="District"
			    			v-validate="'required'">
		    			<span
						 	v-if="errors.has('District')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('District') }}
						</span>
		    		</div>
		    		<div class="field"
		    		:class="{'input': true, 'error': errors.has('subDistrict') }">
		    			<label>Sub District</label>
		    			<input type="text"
		    				v-model="branchInfo.sub_district_id"
			    			name="subDistrict" 
			    			placeholder="Sub District"
			    			v-validate="'required'">
		    			<span
						 	v-if="errors.has('subDistrict')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('subDistrict') }}
						</span>
		    		</div>
		    		<div class="field"
		    		:class="{'input': true, 'error': errors.has('PostalCode') }">
		    			<label>Post Code</label>
		    			<input type="number" 
		    				v-model="branchInfo.postal_code"
			    			name="PostalCode" 
			    			placeholder="Post Code"
			    			v-validate="'required'">
		    			<span
						 	v-if="errors.has('PostalCode')"
							class="ui basic red pointing prompt label transition visible"
							>{{ errors.first('PostalCode') }}
						</span>
		    		</div>
		    	</div>
				<div class="ui clearing divider"></div>
				<div class="actions">
			    	<div @click="branchSubmit"
			    	class="ui positive right labeled icon button">Yep
			      		<i class="checkmark icon"></i>
			    	</div>
			   	 	<div class="ui red right labeled icon button">Clear 
			      		<i class="erase icon"></i>
			    	</div>
				</div>
		    </form>
		</div>
	</modal>
</template>
<script>
import api from '@/api/index'
export default {
  data () {
    return {
      branchInfo: {
        name: '',
        address: '',
        country: '',
        division: '',
        district: '',
        sub_district_id: '',
        postal_code: ''
      }
    }
  },
  methods: {
    branchSubmit () {
      this.$validator.validateAll().then(() => {
        api.request('post', '/api/HRM/branches', this.branchInfo)
        .then((response) => {
          console.log(response)
          this.$notify({
            title: 'Important Note',
            text: 'Successfully Store ' + response.data.branch.name + 'Branch',
            type: 'success'
          })
          this.$router.push('/settings')
        }).catch(function (error) {
          console.log(error)
        })
      }).catch(() => {
        this.$notify({
          title: 'Fill Form',
          text: 'Please! Fill all color form!',
          type: 'warn'
        })
      })
    }
  }
}
</script>
<style>
	.sub.heade {
		font-size: .8em;
		color: rgba(0,0,0,.6);
	}
</style>
