<template>
	<div>
    <!-- content header -->
    <div class="content-heading">
        <div class="left floated content_title">
            <h3>
                <i class="user icon"></i>
                Leaves
            </h3>
        </div>

        <div class="ui right floated">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
            <div class="ui basic buttons">
              <button class="ui button ">All</button>
              <button class="ui button ">Add Leaves</button>
            </div>
        </div>
        
    </div><!-- /content header -->
	
	<div class="content">

  <table class="ui basic  celled table">
      <thead>
        <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Note</th>
          <th>Apply</th>
          <th>From</th>
          <th>Until</th>
          <th>Aproved</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><router-link to="/employee/profile" class="name">demo user</router-link ></td>
          <td>Administrative</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
          <td>10-12-2017</td>
          <td>11-12-2017</td>
          <td>18-12-2017</td>
          <td>
                <div class="ui right ribbon label"><i class="circle icon yellow"></i>Padding</div>
            </td>
        </tr>
        <tr>
          <td>2</td>
          <td><router-link to="/employee/profile" class="name">demo user</router-link ></td>
          <td>Administrative</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
          <td>10-12-2017</td>
          <td>11-12-2017</td>
          <td>18-12-2017</td>
          <td>
                <div class="ui right ribbon label"><i class="circle icon red"></i>Urgent</div>
            </td>
        </tr>
        <tr>
          <td>3</td>
          <td><router-link to="/employee/profile" class="name">demo user</router-link ></td>
          <td>Marketing</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
          <td>10-12-2017</td>
          <td>11-12-2017</td>
          <td>18-12-2017</td>
          <td>
                <div class="ui right ribbon label"><i class="circle icon green"></i>Aproved</div>
            </td>
        </tr>
        <tr>
          <td>4</td>
          <td><router-link to="/employee/profile" class="name">demo user</router-link ></td>
          <td>IT</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
          <td>10-12-2017</td>
          <td>11-12-2017</td>
          <td>18-12-2017</td>
          <td>
                <div class="ui right ribbon label"><i class="circle icon green"></i>Aproved</div>
            </td>
        </tr>
        <tr v-for="inputLeave in inputLeaves">
          <td>4</td>
          <td><router-link to="/employee/profile" class="name">demo user</router-link ></td>
          <td>IT</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
          <td>10-12-2017</td>
          <td>11-12-2017</td>
          <td>18-12-2017</td>
          <td>
                <div class="ui right ribbon label"><i class="circle icon green"></i>input</div>
            </td>
        </tr>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th></th>
          <th colspan="6">
            <div @click="formAdd" class="ui right floated small labeled icon button">
              <i class="plus icon"></i> Add New
            </div>
            <div class="ui small button">
              Approve
            </div>
            <div class="ui small button">
              Approve All
            </div>
          </th>
          <th></th>
        </tr>
      </tfoot>
    </table>

	</div>
    
  </div>
</template>

<script>
export default {
  name: 'leaves',
  data () {
    return {
      input: {
        user: '',
        title: '',
        from: '',
        to: '',
        status: ''
      },
      inputLeaves: []
    }
  },
  methods: {
    formAdd () {
      this.inputLeaves.push(this.input)
    }
  },
  components: {}
}
</script>

<style scoped>
  .ribbon.label{
    min-width: 110px !important;
  }
  .name{ white-space: nowrap; }
</style>
