<template>
	<div class="tab-component">
		<!-- <div class="tab heading">
			<h3><em>Permission</em></h3>
		</div> -->
		
		<div class="ui grid role-content">

			<div class="eight wide column">
			<div class="single-content">
				<div class="header-title">Documents</div>
				<div class="ui list">
					<div class="item">
						<i class="folder icon"></i>
						<div class="content">
							<div class="header">File </div>
							<div class="description">Source files for project</div>
							<div class="list">
								<div class="item">
									<i class="folder icon"></i>
									<div class="content">
										<div class="header">site</div>
										<div class="description">Your site's theme</div>
									</div>
								</div>
								<div class="item">
									<i class="folder icon"></i>
									<div class="content">
										<div class="header">themes</div>
										<div class="description">Packaged theme files</div>
										<div class="list">
											<div class="item">
												<i class="folder icon"></i>
												<div class="content">
													<div class="header">default</div>
													<div class="description">Default packaged theme</div>
												</div>
											</div>
											<div class="item">
												<i class="folder icon"></i>
												<div class="content">
													<div class="header">my_theme</div>
													<div class="description">Packaged themes are also available in this folder</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<i class="file icon"></i>
									<div class="content">
										<div class="header">theme.config</div>
										<div class="description">Config file for setting packaged themes</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<i class="folder icon"></i>
						<div class="content">
							<div class="header">dist</div>
							<div class="description">Compiled CSS and JS files</div>
							<div class="list">
								<div class="item">
									<i class="folder icon"></i>
									<div class="content">
										<div class="header">components</div>
										<div class="description">Individual component CSS and JS</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<i class="file icon"></i>
						<div class="content">
							<div class="header">semantic.json</div>
							<div class="description">Contains build settings for gulp</div>
						</div>
					</div>
				</div>
			</div>
			</div>

			<div class="eight wide column">
			<div class="single-content">
				<div class="header-title">Projects</div>
				<div class="ui list">
					<div class="item">
						<i class="folder icon"></i>
						<div class="content">
							<div class="header">File </div>
							<div class="description">Source files for project</div>
							<div class="list">
								<div class="item">
									<i class="folder icon"></i>
									<div class="content">
										<div class="header">site</div>
										<div class="description">Your site's theme</div>
									</div>
								</div>
								<div class="item">
									<i class="folder icon"></i>
									<div class="content">
										<div class="header">themes</div>
										<div class="description">Packaged theme files</div>
										<div class="list">
											<div class="item">
												<i class="folder icon"></i>
												<div class="content">
													<div class="header">default</div>
													<div class="description">Default packaged theme</div>
												</div>
											</div>
											<div class="item">
												<i class="folder icon"></i>
												<div class="content">
													<div class="header">my_theme</div>
													<div class="description">Packaged themes are also available in this folder</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<i class="file icon"></i>
									<div class="content">
										<div class="header">theme.config</div>
										<div class="description">Config file for setting packaged themes</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<i class="folder icon"></i>
						<div class="content">
							<div class="header">dist</div>
							<div class="description">Compiled CSS and JS files</div>
							<div class="list">
								<div class="item">
									<i class="folder icon"></i>
									<div class="content">
										<div class="header">components</div>
										<div class="description">Individual component CSS and JS</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<i class="file icon"></i>
						<div class="content">
							<div class="header">semantic.json</div>
							<div class="description">Contains build settings for gulp</div>
						</div>
					</div>
				</div>
			</div>
			</div>

		</div>

	</div>
</template>

<style scoped>
	.tab-component {}
	.tab.heading{
		margin-bottom: 2em;
	}
	.tab.heading h3{
		padding: 0.7em 1em 1em;
		box-shadow: 0 2px 0 #f3f3f3;
		text-align: center;
	}
	.role-content {
		margin-top: 1em!important;
		margin-bottom: 1em!important;
	}
	.right.align{
		text-align: right;
	}
	.left.align{
		text-align: left;
	}
	.single-row {}
	.single-content {
		box-shadow: 1px 0 0.5em #ddd;
		padding: 1.5em !important;
	}
	.single-content > .header-title {
		border-bottom: 1px dashed #ddd;
	    font-size: 16px;
	    font-weight: bold;
	    color: rgba(0,0,0,.87);
	    margin: -1.3em -1.3em 0;
	    padding: 1em 1em 1em 1.3em;
	}
</style>
