<template>
	<div class="tab-component">
		<!-- <div class="tab heading">
			<h3><span>Administrative Info</span></h3>
		</div> -->
		
		<div class="ui grid">

			<div class="eight wide column tabContentBorder">
				<div class="single-row">
					<b>Employee Type :</b>
					<span>{{ employee.employee_type.name }}</span>
				</div>
				<div class="single-row">
					<b>Working Days :</b>
					<span>{{ employee.working_hour }} (Weekly)</span>
				</div>
				<div class="single-row">
					<b>Working Hours :</b>
					<span>{{ employee.working_hour }} (1/day)</span>
				</div>
				<div class="single-row">
					<b>Monthly leave :</b>
					<span>{{ employee.monthly_leave }} days </span>
				</div>
				<div class="single-row">
					<b>Join Date :</b>
					<span>{{ employee.joining_date }} </span>
				</div>
			</div>

			<div class="eight wide column">
				<div class="single-row">
					<b>Salary :</b>
					<span>{{ employee.salary }} (Tk)</span>
				</div>
				<div class="single-row">
					<b>Designation :</b>
					<span>{{ employee.designation.name }}</span>
				</div>
				<div class="single-row">
					<b>Department :</b>
					<span>{{ employee.department.name }}</span>
				</div>
				<div class="single-row">
					<b>Branch :</b>
					<span>{{ employee.branch.name }} | {{ employee.branch.address }}</span>
				</div>
			</div>

		</div>
		<h5 class="ui header">
		  	<i class="icon mail"></i>
		  	<div class="content">
		    	Join Letter
    			<div class="sub header"><em>{{ employee.joinLetter }}</em></div>
		  	</div>
		</h5>
	</div>
</template>
<script>
export default {
  props: ['employee']
}
</script>
<style scoped>
	.tab-component {}
	.tab.heading{
		margin-bottom: 2em;
	}
	.tab.heading h3{
		padding: 0.7em 1em 1em;
		box-shadow: 0 2px 0 #f3f3f3;
		text-align: center;
	}
	.right.align{
		text-align: right;
	}
	.left.align{
		text-align: left;
	}
	.tabContentBorder {
		box-shadow: 1px 0 0 #ddd;
	}
	.single-row{
		font-size: 1em;
		padding: .4em 0;
	}
	.single-row b{
		padding-right: .5em;
		color: #5d5d5d;
	}
</style>
