<template>
<div>
	<div class="profile top ui grid">
		<div class="profile ui small image two wide column">
			<img :src="ProfileImage">
		</div>
		<div class="profile top content fourteen wide column">
			<h2><b>Demo User</b></h2>
			<p class="meta">Designation</p>
			<p><em>Marketing Deparitmant</em></p>
			<p><b>Progoti sharani Branch</b></p>
		</div>
	</div>

	<div class="profile details">
		<div class="ui secondary pointing menu">
			<a @click="selectComponentItem ='appPersonal' "
				:class="{active: (selectComponentItem == 'appPersonal')? true : false }"
			 	class="item"
			 	>Personal</a>
			<a @click="selectComponentItem ='appAdministrative'"
				:class="{active: (selectComponentItem == 'appAdministrative')? true : false }"
			 	class="item"
			 	>Administrative</a>
			<a @click="selectComponentItem ='appRole' "
				:class="{active: (selectComponentItem == 'appRole')? true : false }"
			 	class="item"
			 	>Role</a>
			<a @click="selectComponentItem ='appLeaves' "
				:class="{active: (selectComponentItem == 'appLeaves')? true : false }"
			 	class="item"
			 	>Leaves</a>
			<a @click="selectComponentItem ='appActivities' "
				:class="{active: (selectComponentItem == 'appActivities')? true : false }"
			 	class="item"
			 >Activities</a>
		</div>
		<components :is="selectComponentItem" :employee="employee"></components>
	</div>

</div>
</template>

<script>
import api from '@/api/index'
import Role from './Role'
import Personal from './Personal'
import Administrative from './Administrative'
import Leaves from './Leaves.vue'
import Activities from './Activities.vue'
import DefaultProfileImage from '@/assets/profile2.jpg'

export default {
  data () {
    return {
      employee: '',
      ProfileImage: DefaultProfileImage,
      selectComponentItem: 'appPersonal'
    }
  },
  components: {
    appRole: Role,
    appPersonal: Personal,
    appAdministrative: Administrative,
    appLeaves: Leaves,
    appActivities: Activities
  },
  created () {
    let employeeId = this.$route.params.userId
    api.request('get', '/api/HRM/employees/' + employeeId)
    .then((response) => {
      console.log(response)
      this.employee = response.data.data
    }).catch(function (error) {
      console.log(error)
    })
  }
}
</script>

<style scoped>
	.profile.top.grid {
		margin: 0 0 1em 0;
		box-shadow: 0 0 1em #ddd;
		border: 1px solid #ededed;
	}
	.profile.image{}
	.profile.top.content {
		padding-bottom: 0;
	}
	.profile.top.content h3 {
		line-height: 1em;
	}
	.profile.top.content p {
		line-height: 1em;
		margin: .5em 0
	}
	.profile.top.content p.meta {
		color: #a0a0a0;
	}
	.profile.details {
		/*border-top: 1px solid #ddd;*/
	}
	.profile.details .ui.secondary.vertical.pointing.menu .active.item{
	    border-color: #55688a;
	    color: #000;
	    background-color: #f5f5f5;
	}
</style>
