<template>
	<div class="tab-component">
		<!-- <div class="tab heading">
			<h3><em>Leaves</em></h3>
		</div> -->
		
		<table class="ui basic  celled table">
			<thead>
				<tr>
					<th>SL</th>
					<th>Note</th>
					<th>Apply</th>
					<th>From</th>
					<th>Until</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
					<td>10-12-2017</td>
					<td>11-12-2017</td>
					<td>18-12-2017</td>
					<td>
        				<div class="ui right ribbon label"><i class="circle icon yellow"></i>Padding</div>
    				</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
					<td>10-12-2017</td>
					<td>11-12-2017</td>
					<td>18-12-2017</td>
					<td>
        				<div class="ui right ribbon label"><i class="circle icon red"></i>Urgent</div>
    				</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
					<td>10-12-2017</td>
					<td>11-12-2017</td>
					<td>18-12-2017</td>
					<td>
        				<div class="ui right ribbon label"><i class="circle icon green"></i>Aproved</div>
    				</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, esse. <a href="" class="">More</a></td>
					<td>10-12-2017</td>
					<td>11-12-2017</td>
					<td>18-12-2017</td>
					<td>
        				<div class="ui right ribbon label"><i class="circle icon green"></i>Aproved</div>
    				</td>
				</tr>
			</tbody>
			<tfoot class="full-width">
				<tr>
					<th></th>
					<th colspan="4">
						<div class="ui right floated small labeled icon button">
							<i class="calendar icon"></i> Date
						</div>
						<div class="ui small button">
							Approve
						</div>
						<div class="ui small button">
							Approve All
						</div>
					</th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<style scoped>
	
	.tab.heading{
		margin-bottom: 2em;
	}
	.tab.heading h3{
		padding: 0.7em 1em 1em;
		box-shadow: 0 2px 0 #f3f3f3;
		text-align: center;
	}
	.right.align{
		text-align: right;
	}
	.left.align{
		text-align: left;
	}
	.single-row {}
	.tabContentBorder {
		box-shadow: 1px 0 0 #ddd;
	}
	.ribbon.label{
		min-width: 110px !important;
	}
</style>
