<template>
	<div class="tab-component">
		<!-- <div class="tab heading">
			<h3><em>Personal Info</em></h3>
		</div> -->
		
		<div class="ui grid">

			<div class="eight wide column">
				<div class="single-row">
					<b>Name :</b>
					<span>{{ employee.full_name }}</span>
				</div>
				<div class="grid single-row">
					<b>Email :</b>
					<span>{{ employee.email }}</span>
				</div>
				<div class="single-row">
					<b>Phone :</b>
					<span>{{ employee.phone }}</span>
				</div>
				<div class="single-row">
					<b>Gender :</b>
					<span>{{ employee.gender }}</span>
				</div>
				<div class="single-row">
					<b>Birth Date :</b>
					<span>{{ employee.dob}} | <em>{{ employee.age }}<b>Year</b> </em> </span>
				</div>
				<div class="single-row">
					<b>National ID :</b>
					<span>{{ employee.nid }}</span>
				</div>
			</div>

			<div class="eight wide column tabContentBorder">
				<div class="single-row">
					<b>Address :</b>
					<span>{{ employee.address}}</span>
				</div>
				<div class="single-row">
					<b>Sub-District :</b>
					<span>{{ employee.sub_district_id }}</span>
				</div>
				<div class="single-row">
					<b>District :</b>
					<span>Dhaka</span>
				</div>
				<div class="single-row">
					<b>Division :</b>
					<span>Division</span>
				</div>
				<div class="single-row">
					<b>Country :</b>
					<span>{{ employee.country }}</span>
				</div>
				<div class="single-row">
					<b>Zip Code :</b>
					<span>{{ employee.zip_code }}</span>
				</div>
			</div>

		</div>
	</div>
</template>
<script>
export default {
  props: ['employee']
}
</script>
<style scoped>
	.tab-component {
	}
	.tab.heading{
		margin-bottom: 2em;
	}
	.tab.heading h3{
		padding: 0.7em 1em 1em;
		box-shadow: 0 2px 0 #f3f3f3;
		text-align: center;
	}
	.right.align{
		text-align: right;
	}
	.left.align{
		text-align: left;
	}
	.tabContentBorder {
		box-shadow: -1px 0 0 #ddd;
	}
	.single-row{
		font-size: 1em;
		padding: .4em 0;
	}
	.single-row b{
		padding-right: .5em;
		color: #5d5d5d;
	}
</style>
