<template>
	<div class="tab-component">
		<!-- <div class="tab heading">
			<h3><em>Permission</em></h3>
		</div> -->
		
		<div class="ui grid role-content">

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="four wide column">

				<div class="ui list single-content">
					<div class="item">
						<i class="pin icon"></i>
						<div class="content">
							<div class="header">src</div>
							<div class="list">
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">site</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile view</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">project assign</div>
									</div>
								</div>
								<div class="item">
									<i class="checkmark icon"></i>
									<div class="content">
										<div class="header">profile edit</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>
<script>
  export default {
    props: ['employee'],
    created () {
      this.getPermission()
    },
    methods: {
      getPermission () {
        console.log(this.employee.id)
      }
    }
  }
</script>
<style scoped>
	.tab-component {}
	.tab.heading{
		margin-bottom: 2em;
	}
	.tab.heading h3{
		padding: 0.7em 1em 1em;
		box-shadow: 0 2px 0 #f3f3f3;
		text-align: center;
	}
	.role-content {
		margin-top: 1em!important;
		margin-bottom: 1em!important;
	}
	.right.align{
		text-align: right;
	}
	.left.align{
		text-align: left;
	}
	.single-row {}
	.single-content {
		box-shadow: 1px 0 1em #ddd;
		padding: 1.5em !important;
	}
</style>
