<template>
	<div class="container">
		<div class="text large">
			<h1><b><em>404</em></b></h1>
			<p>Sorry</p>
		</div>
  	</div>
</template>
<script>
  export default {
    name: 'NotFound'
  }
</script>
