<template>
    <div :class="{ __disabled: disabled }" class="select">
        <div @click="toggle" class="select_label">
            {{ getLabel(value) }}
        </div>
        <div v-if="opened" class="select_options">
            <div v-for="o in options" :value="getVal(value)" @click="change(o)" :class="{__active: getVal(o) == getVal(value)}" class="select_option">{{ getLabel(o) }}</div>
        </div>
        <div v-if="opened" @click="toggle" class="select_overlay"></div>
    </div>
</template>
<script>
export default {
  data () {
    return {
      opened: false
    }
  },
  props: {
    value: {
      required: true
    },
    options: {
      type: Array,
      required: true
    },
    valueKey: {
      type: String,
      required: false
    },
    labelKey: {
      type: String,
      required: false
    },
    onChange: {
      type: Function,
      required: false
    },
    disabled: {
      type: Boolean
    }
  },
  methods: {
    getVal (opt) {
      return !this.valueKey ? opt : opt[this.valueKey]
    },
    getLabel (opt) {
      return !this.labelKey ? opt : opt[this.labelKey]
    },
    change (opt) {
      this.$emit('input', opt)
      this.opened = false

      if (this.onChange !== undefined) {
        this.onChange(this.value)
      }
    },
    toggle () {
      if (this.disabled) {
        return
      }
      this.opened = !this.opened
    }
  }
}
</script>
<style scoped>
.select {
  font-size: 15px;
  display: flex;
  position: relative;
  justify-content: center;

  * {
    box-sizing: border-box;
  }

  &_label {
    color: #bdbdbd;
    display: flex;
    cursor: pointer;
    transition: color ease-in-out 0.05s;
    white-space: nowrap;
    position: relative;
    
    padding: 3px 18px 3px 12px;
    background: #262626;
    border: 1px solid #4c4c4c;
    border-radius: 2px;

    &:hover {
      color: #929292;
    }
  }

  &_options {
    position: absolute;
    background: #262626;
    border: 1px solid #242424;
    border-radius: 2px;
    z-index: 1001;
    top: 19px + 9px;
  }
  &_option {
    cursor: default;
    color: #bdbdbd;
    padding: 7px 13px;
    white-space: nowrap;
    text-align: left;

    &:first-child {
      border-radius: 2px 2px 0 0;
    }
    &:last-child {
      border-radius: 0 0 2px 2px;
    }
  
    &:hover {
      background: #3A3D43;
    }
  }
  &_overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
  }

  &.__disabled {
    opacity: 0.5;
  }
  &.__disabled &_label:hover {
    color: #4C4C4C;
    cursor: default;
  }
}
</style>
