<template>
    <modal name="addExpence" 
        :draggable="true"
        :resizable="true"
        :adaptive="true"
        :scrollable="true"
        :pivotY=0.15
        height="auto">
        <div class="ui stacked segment">
            <h4 class="ui header">
              <i class="checked calendar icon"></i>
              <div class="content">
                Expence
                <div class="sub heade"><em>Add Expence</em></div>
              </div>
            </h4>

            <form class="ui form">
                <div class="field localDatePicker"
                    :class="{'input': true, 'error': errors.has('from') }">
                    <label>From</label>
                    <vue-datepicker-local
                        :local="local"
                        v-model="expence.time"
                        name="from" 
                        placeholder="From"
                        v-validate="'required'"></vue-datepicker-local>
                    <span
                        v-if="errors.has('from')"
                        class="ui basic red pointing prompt label transition visible"
                        >{{ errors.first('from') }}
                        </span>
                </div>
                <div class="field"
                    :class="{'input': true, 'error': errors.has('title') }">
                    <label>Title</label>
                    <input type="text" v-model="expence.title"
                        placeholder="Title" 
                        name="title"
                        v-validate="'required'">
                        <span
                            v-if="errors.has('title')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('title') }}
                        </span>
                </div>
                <div class="field"
                    :class="{'input': true, 'error': errors.has('description') }">
                    <label>Detail (optional)</label>
                    <textarea rows="3" v-model="expence.description"
                        placeholder="Detail" 
                        name="description"
                        v-validate="'required'"></textarea>
                        <span
                            v-if="errors.has('description')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('description') }}
                        </span>
                </div>
                <div class="ui clearing divider"></div>
                <div class="actions">
                    <div @click="expenceSubmit"
                    class="ui positive right labeled icon button">Yep
                        <i class="checkmark icon"></i>
                    </div>
                    <div class="ui red right labeled icon button">Clear 
                        <i class="erase icon"></i>
                    </div>
                </div>
            </form>
        </div>
    </modal>
</template>
<script>
// import api from '@/api/index'
import VueDatepickerLocal from 'vue-datepicker-local'
import {datePickerLocal} from '@/services/Local'
export default {
  data () {
    return {
      expence: {
        time: [new Date(), new Date()],
        title: '',
        from: new Date(),
        to: ''
      },
      local: datePickerLocal
    }
  },
  components: {
    VueDatepickerLocal
  },
  methods: {
    expenceSubmit () {
      console.log('hello')
    }
  }
}
</script>
<style>
    .datepicker-range {
        width: 100%;
    }
    .datepicker-range>.datepicker-popup { width: 415px !important; }
    .sub.heade {
        font-size: .8em;
        color: rgba(0,0,0,.6);
    }
    .ui.stacked.segment{
        min-height: 20em;
    }
</style>
