<template>
	<div>
    <!-- content header -->
    <div class="content-heading">
        <div class="left floated content_title">
            <h3>
                <i class="user icon"></i>
                Expences
            </h3>
        </div>

        <div class="ui right floated">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
            <div class="ui basic buttons">
              <button class="ui button ">All</button>
              <button class="ui button " @click="$modal.show('addExpence')">Add Expence</button>
            </div>
        </div>
        
    </div><!-- /content header -->
	
	<div class="content">
    <div class="ui grid">
      <div class="twelve wide column">
        <table class="ui very basic celled table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Employee</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>
                  Lena
              </td>
              <td>22</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <span class="red text">Aproved</span>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Matthew</td>
              <td>15</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui mini buttons">
                  <button class="ui positive button"><i class="icon checkmark"></i></button>
                  <div class="or"></div>
                  <button class="ui negative button"><i class="icon remove"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Lindsay</td>
              <td>12</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="date"><i class="light_color calendar icon"></i> 24-Sept 2017</td>
              <td>Mark</td>
              <td>11</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, labore!</td>
              <td>
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="four wide column">
        <div class="ui card sideSmallChart">
          <div class="content ">
            <trend
              :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"
              :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
              auto-draw
              smooth>
            </trend>
          </div>
          <div class="extra content">
            <i class="bus icon"></i>
            <b>Transport </b>
          </div>
        </div>
        <div class="ui card sideSmallChart">
          <div class="content ">
            <trend
              :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"
              :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
              auto-draw
              smooth>
            </trend>
          </div>
          <div class="extra content">
            <i class="child icon"></i>
            <b>Entertainment </b>
          </div>
        </div>
        <div class="ui card sideSmallChart">
          <div class="content ">
            <trend
              :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"
              :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
              auto-draw
              smooth>
            </trend>
          </div>
          <div class="extra content">
            <i class="travel icon"></i>
            <b>Instrument</b>
          </div>
        </div>
        <div class="ui card sideSmallChart">
          <div class="content ">
            <trend
              :data="[0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]"
              :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
              auto-draw
              smooth>
            </trend>
          </div>
          <div class="extra content">
            <i class="bus icon"></i>
            <b>Transport </b>
          </div>
        </div>
      </div>
    </div>

	</div>
  <create-expence></create-expence>
  </div>
</template>

<script>
import createExpence from './CreateModel'
export default {
  name: 'expence',
  data () {
    return {}
  },
  components: {
    createExpence
  }
}
</script>
<style scoped>
  .light_color{
    color: #555d6b;
  }
  .date{
    white-space: nowrap
  }
  .sideSmallChart {
    box-shadow: 0px 2px 5px #ddd !important;
    border-top: 1px solid #f1f1f1 !important;
    border-radius: 0 0 3px 3px !important;
  }
  .ui.very.basic {
    border: none;
    box-shadow: 0 3px 5px #ddd;
    padding: 1em;
  }
</style>
