<template>
    <modal name="designation" :pivotY=0.15 height="auto">
        <div class="ui stacked segment">
            <h4 class="ui header">
              <i class="clone icon"></i>
              <div class="content">
                Designation
                <div class="sub heade"><em>All Designation</em></div>
              </div>
            </h4>
            <div class="ui list">
                <a class="item" v-for="designation in designations">
                    <i class="right triangle icon"></i>
                    <div class="content">
                        <div class="header">{{ designation.name }}</div>
                    </div>
                </a>
            </div>
        </div>
    </modal>
</template>
<script>
import api from '@/api/index'
export default {
  data () {
    return {
      designations: []
    }
  },
  created () {
    api.request('get', '/api/HRM/designation')
    .then((response) => {
      console.log(response)
      this.designations = response.data.designation
    }).catch(function (error) {
      console.log(error)
    })
  }
}
</script>
<style>
</style>
