<template>

    <div id="app" class="wrapper">

      <div v-if="this.$route.meta.fullView === undefined">
        <div class="ui fluid container">

            <div class="ui grid">
              
                <app-sidebar></app-sidebar> 

                <div class="main_content thirteen wide column">

                    <app-header @rightbarToggle="active = $event"></app-header>

                    
                    <div class="content">
                    
                    	<transition name="slide" mode="out-in">
                  
                        	<router-view></router-view>

                    	</transition>

                    </div><!-- /end content -->


                </div><!-- /end main content -->
              
            </div><!-- /end grid -->

        </div><!-- /end full container -->

        <app-rightbar :clickStatus="active"></app-rightbar>
      </div>

        <notifications position='top right'/>

        <!-- for fullview screen  -->
        <div class="content-full"
          v-if="this.$route.meta.fullView === true">
          <transition name="slide" mode="out-in">
              <router-view></router-view>
          </transition>
        </div>

    </div><!-- /end wrapper -->

</template>

<script>

import Header from './components/layouts/Header'
import Sidebar from './components/layouts/Sidebar'
import Rightbar from './components/layouts/Rightbar'
// import Scrollbar from 'smooth-scrollbar'

export default {
  data () {
    return {
      active: false,
      fullView: false
    }
  },
  components: {
    appHeader: Header,
    appSidebar: Sidebar,
    appRightbar: Rightbar
  }
}

// scrollbar include files
// require('smooth-scrollbar/dist/smooth-scrollbar.css')
// Scrollbar.init(document.body, { speed: 0.90 })

</script>

<style>
.wrapper{ 
  min-height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.wrapper::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 104%;
  background: #ffffff;
  z-index: -1;
}
div [class*="left floated"] {
  float: left;
  margin-left: 0.25em;
}

div [class*="right floated"] {
  float: right;
   margin-right: 0.25em;
} 
.main_content {
  padding-left: 0!important;
  background: #ffffff;
  min-height: 100vh;
}
.content{
  padding:1em;
  position: relative;
}

.content-heading{
  display: inline-block;
  width: 100%;
  margin: 0.5em 0;
}
.content_title{
  padding: 0em;
}
.content_title i{
  color: #55688a;
  margin: 0 12px 0px -4px;
  text-shadow: -1px 5px 10px #bbbbbb;
}
.content .content-heading .content_title h3{
  font-size: 1.5em;
 } 

.ui.right.floated.menu {
  margin-bottom : -1px;
} 

.form-button-bottom {
  display: inline-block;
  width: 100%;
  margin: 30px 15px;
}

.form-button-bottom .lightBlue{
  background-color: #55688a !important;
  color: #ffffff !important;
  margin: 35px auto 0;
}
/*.slide_toggle{
    position: absolute;
    top: -5px;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #aaa;
    z-index: 5;
}*/

.slide-leave-active {
    transition: opacity 400ms ease;
    opacity: 0;
    animation: slide-out 400ms ease-out forwards;
}

.slide-leave {
    opacity: 1;
    transform: translateX(0);
}

.slide-enter-active {
    animation: slide-in 400ms ease-out forwards;
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
</style>
