<template>
    <modal name="employeeTypes" :pivotY=0.15 height="auto">
        <div class="ui stacked segment">
            <h4 class="ui header">
              <i class="clone icon"></i>
              <div class="content">
                Employee Types
                <div class="sub heade"><em>All Employee Types</em></div>
              </div>
            </h4>
            <div class="ui list">
                <a class="item" v-for="employeeType in employeeTypes">
                    <i class="right triangle icon"></i>
                    <div class="content">
                        <div class="header">{{ employeeType.name }}</div>
                        <div class="description">{{ employeeType.description }}</div>
                    </div>
                </a>
            </div>
        </div>
    </modal>
</template>
<script>
import api from '@/api/index'
export default {
  data () {
    return {
      employeeTypes: []
    }
  },
  created () {
    api.request('get', '/api/HRM/employeeTypes')
    .then((response) => {
      console.log(response)
      this.employeeTypes = response.data.employeeTypes
    }).catch(function (error) {
      console.log(error)
    })
  }
}
</script>
<style>
</style>
