<template>
	<div>
		<!-- content header -->
	    <div class="content-heading">
	        <div class="left floated content_title">
	            <h3>
	                <i class="user icon"></i>
	                Employee Information
	            </h3>
	        </div>

	        <div class="right floated">
	        	<div class="ui icon input">
		        	<input type="text" placeholder="Search...">
		        	<i class="search link icon"></i>
		      	</div>
		      	<div class="ui very basic buttons">
		            <button class="ui button"><i class="grid layout icon"></i></button>
		            <button class="ui button"><i class="list layout icon"></i></button>
		      	</div>
	        </div>
	        
	    </div><!-- /content header -->
		<div v-if="employees.length" class="row ui grid">
			<div class="four wide column" v-for="employee in employees">
				<div class="single-grid">
					<app-single-card :employee="employee"></app-single-card>	
				</div>
			</div>
		</div>
        <div v-else><h4 class="ui warning message">No Employee Set Yet</h4></div>
		
        <pagination :total="total" :page-size="pageSize" :callback="pageChanged" :options="paginationOptions">
        </pagination>
	
	</div>
</template>

<script>
import api from '@/api/index'
import SingleCard from './SingleCard'
import pagination from 'vuejs-pagination-semantic-ui'

export default {
  name: 'employees',
  data () {
    return {
      employees: [],
      total: '',
      pageSize: '',
      paginationOptions: {
        offset: 3,
        previousText: 'Prev',
        nextText: 'Next',
        alwaysShowPrevNext: false
      }
    }
  },
  computed: {
    employeeCheck () {
      let check = this.employees.length = !this.employees.length
      return check
    }
  },
  components: {
    appSingleCard: SingleCard,
    pagination
  },
  created () {
    api.request('get', '/api/HRM/employees')
    .then((response) => {
      console.log(response)
      this.employees = response.data.data
      this.total = response.data.meta.pagination.total
      this.pageSize = response.data.meta.pagination.per_page
      console.log(this.employees)
    }).catch(function (error) {
      if (error.error === 'token_invalid') {
        window.localStorage.removeItem('ErpAuthUserToken')
      }
      console.log(error)
    })
  }
}
</script>

<style scoped>
.ui.cards>.card {
    margin-top: 0.2em;
}
.single-grid {
	box-shadow: 0px 0 1px #aaa;
}
.ui.grid.row {
	margin: 0 !important;
}
.ui.grid.row .column{
	padding: 0;
}
.ui.grid.row .column .single-grid{
	margin: 0 1em 1em 0;
}
.ui.grid.row .column:nth-child(4n+0) .single-grid{
	margin: 0 0 1em 0 !important;
}
.ui.grid.row .pagination{
	margin: 0 auto;
}
</style>
