<template>
	<div>
		<div class="content">
			<img class="right floated mini ui image" :src="ProfileImage">
			<div class="header">
				<b>{{ employee.first_name }} {{ employee.last_name }}</b>
			</div>
			<div class="meta">
				<em>{{ employee.designation.name }}</em>
			</div>
			<div class="description">
				<div><em>{{ employee.department.name }} Depairtmant</em></div>
				<div>{{ employee.address }}</div>
				<div><i class="call square icon"></i>{{ employee.phone }}</div>
				<div><i class="at icon"></i>{{ employee.email }}</div>
			</div>
		</div>
		<div class="extra">
			<a href="" class="ui button">Edit</a>
			<router-link :to="{ name: 'EmployeeProfile', params: { userId: employee.id }}" class="ui button">view</router-link>
		</div>
	</div>
</template>

<script>

import DefaultProfileImage from '@/assets/profile2.jpg'

export default {
  data () {
    return {
      ProfileImage: DefaultProfileImage
    }
  },
  props: ['employee']
}
</script>

<style scoped>
.extra{
	padding: 0 1em 1em;
}
.extra .button{
	background-color: #55688a;
	color: #fff;
	padding: .3em 1em;
}
</style>
