<template>
    <modal name="createDepartment" :pivotY=0.15 height="auto">
        <div class="ui stacked segment">
            <h4 class="ui header">
              <i class="clone icon"></i>
              <div class="content">
                Department
                <div class="sub heade"><em>Create Department</em></div>
              </div>
            </h4>

            <form class="ui form">
                <div class="field"
                    :class="{'input': true, 'error': errors.has('Name') }">
                    <label>Name</label>
                    <input type="text" v-model="departmentInfo.name"
                        placeholder="Department Name" 
                        name="Name"
                        v-validate="'required'">
                        <span
                            v-if="errors.has('Name')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('Name') }}
                        </span>
                </div>
                <div class="field"
                    :class="{'input': true, 'error': errors.has('Description') }">
                    <label>About Department</label>
                    <input type="text" v-model="departmentInfo.description"
                        placeholder="Description" 
                        name="Description"
                        v-validate="'required'">
                        <span
                            v-if="errors.has('Description')"
                            class="ui basic red pointing prompt label transition visible"
                            >{{ errors.first('Description') }}
                        </span>
                </div>
                <div class="ui clearing divider"></div>
                <div class="actions">
                    <div @click="DepartmentSubmit"
                    class="ui positive right labeled icon button">Yep
                        <i class="checkmark icon"></i>
                    </div>
                    <div class="ui red right labeled icon button">Clear 
                        <i class="erase icon"></i>
                    </div>
                </div>
            </form>
        </div>
    </modal>
</template>
<script>
import api from '@/api/index'
export default {
  data () {
    return {
      departmentInfo: {
        name: '',
        description: ''
      }
    }
  },
  methods: {
    DepartmentSubmit () {
      this.$validator.validateAll().then(() => {
        api.request('post', '/api/HRM/departments', this.departmentInfo)
        .then((response) => {
          console.log(response)
          this.success(response.data.department.name)
          this.$router.push('/settings')
        }).catch(function (error) {
          console.log(error)
        })
      }).catch(() => {
        this.error()
      })
    }
  },
  notifications: {
    success (name) {
      this.$notify({
        title: 'Important Note',
        text: 'Successfully Store ' + name + ' Defartment',
        type: 'success'
      })
    },
    error () {
      this.$notify({
        title: 'Fill Form',
        text: 'Please! Fill all color form!',
        type: 'warn'
      })
    }
  }
}
</script>
<style>
    .sub.heade {
        font-size: .8em;
        color: rgba(0,0,0,.6);
    }
</style>
